params {
    reference = 'NC_001802.1'
    data = "assets/data"
    outdir = "out"
}

conda {
    enabled = true
    cacheDir = "$projectDir/.envs"
}

profiles {
    container {
        conda.enabled = false
        apptainer {
            enabled = true
            cacheDir = "$projectDir/.images"
        }
    }
}

process {
    // target the process named 'bwa' - use 8 CPUs and 16 GB memory
    withName: 'trim' {
        ext.args = ""
    }
}
